<form action="/create" method="POST">
    <h2>Create Todo</h2>

    <div class="input-field">
        <input class="validate" type="text" name="title" id="title">
        <label for="title">Todo</label>
    </div>

    <button type="submit" class="btn">Create</button>
</form>